# Python
*.pyc
*.pyo
__pycache__/

# Django
*.log
db.sqlite3
/media
/BackEndApi/media/profile
/BackEndApi/media/listing
/staticfiles
settings_local.py

# IDE/Editor specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependency management
/venv/
/pipenv/